In [11]:
import pandas as pd

# Load csv file to DataFrame
df = pd.read_csv("hw_work.csv")
print(df.info()) # organic data, meta data

  State  Account length  Area code International plan Voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No

   Number vmail messages  Total day minutes  Total day calls  \
0                     25              265.1            110.0
1                     26              161.6            123.0
2                      0              243.4            114.0
3                      0              299.4             71.0
4                      0              166.7            113.0

   Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0             45.07              197.4             99.0             16.78
1             27.47              195.5            103.0             16.62
2             41.38              121.2            110.0             10.30
3             50.90               61.9             88.0              5.26
4             28.34              148.3            122.0             12.61

   Total night minutes  Total night calls  Total night charge  \
0                244.7               91.0               11.01
1                254.4              103.0               11.45
2                162.6              104.0                7.32
3                196.9               89.0                8.86
4                186.9              121.0                8.41

   Total intl minutes  Total intl calls  Total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73

   Customer service calls  Churn
0                     1.0  False
1                     1.0  False
2                     0.0  False
3                     2.0  False
4                     3.0  False
     State  Account length  Area code International plan Voice mail plan  \
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
3328                     36              156.2             77.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
3328                279.1               83.0               12.56
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
3328                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3323 non-null   float64
 7   Total day calls         3323 non-null   float64
 8   Total day charge        3315 non-null   float64
 9   Total eve minutes       3324 non-null   float64
 10  Total eve calls         3325 non-null   float64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3332 non-null   float64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3328 non-null   float64
 18  Customer service calls  3328 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 520.9+ KB
None

<h3 style="color:blue;">The column 'Total day minutes' is missing 10 values.</h3>

<h3 style="color:blue;">DataFrame 'memory usage: 520.9+ KB'.</h3>

### חקור את כל עמודות הטבלה באמצעות describe מה הערך הכי גבוה עבור עמודת עמודת length Account ###

In [34]:
print(df.describe())  # statistics

       Account length    Area code  Number vmail messages  Total day minutes  \
count     3333.000000  3333.000000            3333.000000        3323.000000
mean       101.064806   437.182418               8.099010         179.787150
std         39.822106    42.371290              13.688365          54.419625
min          1.000000   408.000000               0.000000           0.000000
25%         74.000000   408.000000               0.000000         143.700000
50%        101.000000   415.000000               0.000000         179.400000
75%        127.000000   510.000000              20.000000         216.500000
max        243.000000   510.000000              51.000000         350.800000

       Total day calls  Total day charge  Total eve minutes  Total eve calls  \
count      3323.000000       3315.000000        3324.000000      3325.000000
mean        100.456214         30.557831         201.033935       100.110677
std          20.057356          9.255987          50.676652        19.932115
min           0.000000          0.000000           0.000000         0.000000
25%          87.000000         24.420000         166.600000        87.000000
50%         101.000000         30.500000         201.400000       100.000000
75%         114.000000         36.780000         235.325000       114.000000
max         165.000000         59.640000         363.700000       170.000000

       Total eve charge  Total night minutes  Total night calls  \
count       3333.000000          3333.000000        3332.000000
mean          17.083540           200.872037         100.115246
std            4.310668            50.573847          19.566710
min            0.000000            23.200000          33.000000
25%           14.160000           167.000000          87.000000
50%           17.120000           201.200000         100.000000
75%           20.000000           235.300000         113.000000
max           30.910000           395.000000         175.000000

       Total night charge  Total intl minutes  Total intl calls  \
count         3333.000000         3333.000000       3333.000000
mean             9.039325           10.237294          4.479448
std              2.275873            2.791840          2.461214
min              1.040000            0.000000          0.000000
25%              7.520000            8.500000          3.000000
50%              9.050000           10.300000          4.000000
75%             10.590000           12.100000          6.000000
max             17.770000           20.000000         20.000000

       Total intl charge  Customer service calls
count        3328.000000             3328.000000
mean            2.764588                1.563101
std             0.754086                1.315870
min             0.000000                0.000000
25%             2.300000                1.000000
50%             2.780000                1.000000
75%             3.270000                2.000000
max             5.400000                9.000000

### The max value of Account length column is: 243 ###

In [36]:
print(df.head()) # Display 5 first line as default
print(df.tail()) # Display 5 last line as default

  State  Account length  Area code International plan Voice mail plan  \
0    KS             128        415                 No             Yes
1    OH             107        415                 No             Yes
2    NJ             137        415                 No              No
3    OH              84        408                Yes              No
4    OK              75        415                Yes              No

   Number vmail messages  Total day minutes  Total day calls  \
0                     25              265.1            110.0
1                     26              161.6            123.0
2                      0              243.4            114.0
3                      0              299.4             71.0
4                      0              166.7            113.0

   Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
0             45.07              197.4             99.0             16.78
1             27.47              195.5            103.0             16.62
2             41.38              121.2            110.0             10.30
3             50.90               61.9             88.0              5.26
4             28.34              148.3            122.0             12.61

   Total night minutes  Total night calls  Total night charge  \
0                244.7               91.0               11.01
1                254.4              103.0               11.45
2                162.6              104.0                7.32
3                196.9               89.0                8.86
4                186.9              121.0                8.41

   Total intl minutes  Total intl calls  Total intl charge  \
0                10.0                 3               2.70
1                13.7                 3               3.70
2                12.2                 5               3.29
3                 6.6                 7               1.78
4                10.1                 3               2.73

   Customer service calls  Churn
0                     1.0  False
1                     1.0  False
2                     0.0  False
3                     2.0  False
4                     3.0  False
     State  Account length  Area code International plan Voice mail plan  \
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
3328                     36              156.2             77.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
3328                279.1               83.0               12.56
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
3328                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False

In [40]:
print(df.iloc[14]) # print index(14) line 15

State                        OH
Account length              107
Area code                   415
International plan           No
Voice mail plan             Yes
Number vmail messages        26
Total day minutes         161.6
Total day calls           123.0
Total day charge          27.47
Total eve minutes         195.5
Total eve calls           103.0
Total eve charge          16.62
Total night minutes       254.4
Total night calls         103.0
Total night charge        11.45
Total intl minutes         13.7
Total intl calls              3
Total intl charge           3.7
Customer service calls      1.0
Churn                     False
Name: 1, dtype: object

In [44]:
print(df.iloc[14:])

     State  Account length  Area code International plan Voice mail plan  \
14      IA              62        415                 No              No
15      NY             161        415                 No              No
16      ID              85        408                 No             Yes
17      VT              93        510                 No              No
18      VA              76        510                 No             Yes
...    ...             ...        ...                ...             ...
3328    AZ             192        415                 No             Yes
3329    WV              68        415                 No              No
3330    RI              28        510                 No              No
3331    CT             184        510                Yes              No
3332    TN              74        415                 No             Yes

      Number vmail messages  Total day minutes  Total day calls  \
14                        0                NaN              NaN
15                        0                NaN              NaN
16                       27                NaN              NaN
17                        0                NaN              NaN
18                       33                NaN              NaN
...                     ...                ...              ...
3328                     36              156.2             77.0
3329                      0              231.1             57.0
3330                      0              180.8            109.0
3331                      0              213.8            105.0
3332                     25              234.4            113.0

      Total day charge  Total eve minutes  Total eve calls  Total eve charge  \
14                 NaN              307.2             76.0             26.11
15                 NaN              317.8             97.0             27.01
16                 NaN              280.9             90.0             23.88
17                 NaN              218.2            111.0             18.55
18                 NaN              212.8             65.0             18.09
...                ...                ...              ...               ...
3328             26.55              215.5            126.0             18.32
3329             39.29              153.4             55.0             13.04
3330             30.74              288.8             58.0             24.55
3331             36.35              159.6             84.0             13.57
3332             39.85              265.9             82.0             22.60

      Total night minutes  Total night calls  Total night charge  \
14                  203.0               99.0                9.14
15                  160.6              128.0                7.23
16                   89.3                NaN                4.02
17                  129.6              121.0                5.83
18                  165.7              108.0                7.46
...                   ...                ...                 ...
3328                279.1               83.0               12.56
3329                191.3              123.0                8.61
3330                191.9               91.0                8.64
3331                139.2              137.0                6.26
3332                241.4               77.0               10.86

      Total intl minutes  Total intl calls  Total intl charge  \
14                  13.1                 6               3.54
15                   5.4                 9               1.46
16                  13.8                 4               3.73
17                   8.1                 3               2.19
18                  10.0                 5               2.70
...                  ...               ...                ...
3328                 9.9                 6               2.67
3329                 9.6                 4               2.59
3330                14.1                 6               3.81
3331                 5.0                10               1.35
3332                13.7                 4               3.70

      Customer service calls  Churn
14                       4.0  False
15                       4.0   True
16                       1.0  False
17                       3.0  False
18                       1.0  False
...                      ...    ...
3328                     2.0  False
3329                     3.0  False
3330                     2.0  False
3331                     2.0  False
3332                     0.0  False

[3319 rows x 20 columns]

### מחק את עמודת code Area , רמז drop לפי axis של עמודה ###

In [59]:
df.drop(columns=['Area code','Total day minutes']) # drop column

,State,Account length,International plan,Voice mail plan,Number vmail messages,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,No,Yes,25,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,No,Yes,26,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,No,No,0,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,Yes,No,0,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,Yes,No,0,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,No,Yes,36,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,No,No,0,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,No,No,0,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,Yes,No,0,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,No,Yes,25,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

In [61]:
df.drop('Area code', axis=1) # drop column

,State,Account length,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,No,Yes,36,156.2,77.0,26.55,215.5,126.0,18.32,279.1,83.0,12.56,9.9,6,2.67,2.0,False
3329,WV,68,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

### מחק את שורה 3328, רמז drop לפי axis של שורה ###

In [65]:
df.drop(3328, axis=0)# drop line 3328

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110.0,45.07,197.4,99.0,16.78,244.7,91.0,11.01,10.0,3,2.70,1.0,False
1,OH,107,415,No,Yes,26,161.6,123.0,27.47,195.5,103.0,16.62,254.4,103.0,11.45,13.7,3,3.70,1.0,False
2,NJ,137,415,No,No,0,243.4,114.0,41.38,121.2,110.0,10.30,162.6,104.0,7.32,12.2,5,3.29,0.0,False
3,OH,84,408,Yes,No,0,299.4,71.0,50.90,61.9,88.0,5.26,196.9,89.0,8.86,6.6,7,1.78,2.0,False
4,OK,75,415,Yes,No,0,166.7,113.0,28.34,148.3,122.0,12.61,186.9,121.0,8.41,10.1,3,2.73,3.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3327,SC,79,415,No,No,0,134.7,98.0,22.90,189.7,68.0,16.12,221.4,128.0,9.96,11.8,5,3.19,2.0,False
3329,WV,68,415,No,No,0,231.1,57.0,39.29,153.4,55.0,13.04,191.3,123.0,8.61,9.6,4,2.59,3.0,False
3330,RI,28,510,No,No,0,180.8,109.0,30.74,288.8,58.0,24.55,191.9,91.0,8.64,14.1,6,3.81,2.0,False
3331,CT,184,510,Yes,No,0,213.8,105.0,36.35,159.6,84.0,13.57,139.2,137.0,6.26,5.0,10,1.35,2.0,False
3332,TN,74,415,No,Yes,25,234.4,113.0,39.85,265.9,82.0,22.60,241.4,77.0,10.86,13.7,4,3.70,0.0,False

<div dir="rtl">
### שאלה חוב -- חשב בעמודה חדשה בשם total_min את סכום העמודות: Total intl minutes + Total night minutes ###
</div>

In [74]:
df = df[['Total intl minutes', 'Total night minutes']].copy()
df['Total_min'] = df['Total intl minutes'] + df['Total night minutes']
print(df.head())

   Total intl minutes  Total night minutes  Total_min
0                10.0                244.7      254.7
1                13.7                254.4      268.1
2                12.2                162.6      174.8
3                 6.6                196.9      203.5
4                10.1                186.9      197.0

In [96]:
print(df.columns.tolist()) # print all the columns

['Total intl minutes', 'Total night minutes', 'Total_min']

<div dir="rtl">
###  צור DF חדש המורכב מהשורה הראשונה והאחרונה של הטבלה הנוכחית באמצעות concat התעלם מהאינקסים הקודמים בזמן החיבור ###
</div>

In [102]:
combined_df = pd.concat([df.iloc[0],df.iloc[-1]])# אני לא יודע לסדר את זה, אבל זה אמור לעבוד
print(df_combined)

     A  B    C
0  1.0  3  NaN
1  2.0  4  NaN
0  NaN  7  5.0
1  NaN  8  6.0

<div dir="rtl">
###  השימוש ב- inpalce מאפשר לשנות את DF ###
### אם inplace=False מחזיר עותק חדש ###
### inplace=True משנה את DF ###
### רק שרוצים שה- DF ישתנה נשתמש ב- פונקציה, ברירת מחדל שלה False  לרוב הפונקציה לא תחזיר ערך מאחר ###
</div>